{{#section 'css'}}
<style>
    .mce-notification {display: none !important;}
</style>
{{/section}}
{{#section 'js'}}
<script src="/js/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: '#mytiny',
        height: 500,
        menubar: false,
        plugins: 'paste image link autolink lists media',
        toolbar: 'unredo | bold italic underline strikethrough | link image media pageembed',
    });
</script>
{{/section}}
<form method="POST" action="#">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-4 shadow">
                    <div class="card-body">
                        <div class="form-group">
                            <input class="form-control" type="text" name="post_title" placeholder="Tiêu đề bài viết"
                                required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="post_id" placeholder="Tag bài viết" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="post_summary" placeholder="Tóm tắt">
                        </div>
                        <div class="form-group">
                            <textarea id="mytiny" required></textarea>
                        </div>
                        <button type="button" name="btn" class="btn btn-primary">
                            <i class="fa fa-check"></i>
                            Lưu bản thảo
                        </button>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-file-alt"></i>
                            Đăng bản thảo
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <p class="h6 text-weight-bold text-dark text-title">Chuyên mục</p>
                        <div class="form-group">
                            <select class="custom-select" name="postcategory" required>
                                <option value="1">Thời sự</option>
                                <option value="2">Pháp Luật</option>
                                <option value="3">Thế giới</option>
                                <option value="4">Kinh doanh</option>
                                <option value="5">Công nghệ</option>
                                <option value="6">Thể thao</option>
                                <option value="7">Giải trí</option>
                                <option value="8">Âm nhạc</option>
                                <option value="9">Phim ảnh</option>
                                <option value="10">Sống trẻ</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>