<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>404 - TNTNews</title>
    </head>
    <body>
        <div class="d-flex justify-content-center align-items-center">
            
        </div>
    </body>
</html>