        <!-- ##### About Area Start ##### -->
        <section class="about-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2>Về TNT News</h2>
                    </div>
                </div>

                <div class="row">
                    <p>Đây là đồ án môn "Phát triển ứng dụng web" của nhóm TNT</p>
                </div>
                <div class="row">
                    <p>Giảng viên bộ môn &amp hướng dẫn: Ngô Ngọc Đăng Khoa</p>
                </div>
                <div class="row">
                    <p>Đồ án có tham khảo kiến trúc nền từ template "<a
                            href="https://colorlib.com/wp/template/newspaper/">The News Paper</a>" bởi <a
                            href="https://colorlib.com/">Colorlib</a> với giao diện chính</p>
                </div>
                <div class="row text-center">
                    <div class="col-12">
                        <h2>Thành viên</h2>
                    </div>
                </div>
                <div class="row ">
                    <!-- Single Team Member -->
                    <div class="col-12 col-md-4">
                        <div class="single-team-member">
                            <img src="/img/post-img/about/nhat.jpg" alt="Nhat">
                            <div class="team-info">
                                <h5>Trần Minh Nhật</h5>
                                <h6>1612464</h6>
                            </div>
                        </div>
                    </div>

                    <!-- Single Team Member -->
                    <div class="col-12 col-md-4">
                        <div class="single-team-member">
                            <img src="/img/post-img/about/toi.jpg" alt="Toi">
                            <div class="team-info">
                                <h5>Nguyễn Hồng Tới</h5>
                                <h6>1612714</h6>
                            </div>
                        </div>
                    </div>

                    <!-- Single Team Member -->
                    <div class="col-12 col-md-4">
                        <div class="single-team-member">
                            <img src="/img/post-img/about/tri.jpg" alt="Tri">
                            <div class="team-info">
                                <h5>Nguyễn Thanh Trí</h5>
                                <h6>1612722</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    <!-- ##### Team Area End ##### -->