<!-- ##Featured Post Slider-->
        <div class="slider-area">
            <div class="owl-carousel owl-theme" id="featured-post-slider">
                <div class="single-slider-post" id="slider-post-1">
                    <img src="img/post-img/home/f1.jpg">
                    <div class="single-slide-content">
                        <div class="post-category cat-thethaovietnam"><a href="categories-post.html">Thể thao việt nam</a></div>
                        <div class="slider-post-title"><a href="TienMinhOlympic20.html">Vào bán kết giải châu Á, Tiến Minh rộng cửa dự Olympic 2020</a></div>
                    </div>
                </div>
                <div class="single-slider-post" id="slider-post-2">
                    <img src="img/post-img/home/f2.jpg">
                    <div class="single-slide-content">
                        <div class="post-category cat-dothi"><a href="categories-post.html">Đô thị</a></div>
                        <div class="slider-post-title"><a href="CatLinhHaDong.html">Tiếp tục lỗi hẹn, đường sắt Cát Linh - Hà Đông vướng gì?</a></div>
                    </div>
                </div>
                <div class="single-slider-post" id="slider-post-3">
                    <img src="img/post-img/home/f3.jpg">
                    <div class="single-slide-content">
                        <div class="post-category cat-thoisu"><a href="categories-post.html">Thời sự</a></div>
                        <div class="slider-post-title"><a href="CanhDongDien.html">Lướt trên 'cánh đồng điện' lớn nhất Việt Nam</a></div>
                    </div>
                </div>
                <div class="single-slider-post" id="slider-post-4">
                    <img src="img/post-img/home/f4.jpg">
                    <div class="single-slide-content">
                        <div class="post-category cat-chinhtri cat-phimanh"><a href="categories-post.html">Phim ảnh</a></div>
                        <div class="slider-post-title"><a href="MyNhanGOT.html">Vẻ đẹp quyến rũ của mỹ nhân 'Game of Thrones'</a></div>
                    </div>
                </div>
            </div>
        </div>
<!-- Featured Post Slider End-->

<!-- ##### Featured Post Area Start ##### -->
        <div class="featured-post-area mb-15">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="container">
                            <div class="section-heading">
                                <h6>Tin mới nhất</h6>
                            </div>
                            <!-- Single Featured Post -->
                            <div class="row">
                                <div class="single-latest-post col-md">
                                    <div class="post-thumb">
                                        <a href="CatLinhHaDong.html"><img src="img/post-img/home/l1.jpg" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="categories-post.html" class="post-category cat-dothi">Đô thị</a>
                                        <div class="post-meta">
                                            <a href="single-post.html" class="post-title">
                                                <h6>Tiếp tục lỗi hẹn, đường sắt Cát Linh - Hà Đông vướng gì?</h6>
                                            </a>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                                    03/05/2019</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-latest-post col-md">
                                    <div class="post-thumb">
                                        <a href=""><img src="img/post-img/home/l2.jpg" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="categories-post.html" class="post-category cat-thoisu">Thời sự</a>
                                        <div class="post-meta">
                                            <a href="CanhDongDien.html" class="post-title">
                                                <h6>Lướt trên 'cánh đồng điện' lớn nhất Việt Nam</h6>
                                            </a>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                                    03/05/2019</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="single-latest-post col-md">
                                    <div class="post-thumb">
                                        <a href="single-post.html"><img src="img/post-img/home/l3.jpg" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="categories-post.html" class="post-category cat-chinhtri">Chính trị</a>
                                        <div class="post-meta">
                                            <a href="single-post.html" class="post-title">
                                                <h6>Xem xét kỷ luật nguyên Phó thủ tướng Vũ Văn Ninh</h6>
                                            </a>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                                    05/05/2019</span></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-latest-post col-md">
                                    <div class="post-thumb">
                                        <a href=""><img src="img/post-img/home/l4.jpg" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="categories-post.html" class="post-category cat-giaothong">Giao thông</a>
                                        <div class="post-meta">
                                            <a href="single-post.html" class="post-title">
                                                <h6>30 lính bộ binh gặp nạn khi xe tải quân sự bị lật</h6>
                                            </a>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                                    03/05/2019</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="single-latest-post col-md">
                                    <div class="post-thumb">
                                        <a href="single-post.html"><img src="img/post-img/home/l5.jpg" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="categories-post.html" class="post-category cat-thegioi">Thế giới</a>
                                        <div class="post-meta">
                                            <a href="single-post.html" class="post-title">
                                                <h6>'Ông Obama thất vọng, trách bà Hillary vì ông Trump đắc cử'</h6>
                                            </a>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                                    03/05/2019</span></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Featured Post -->
                                <div class="single-latest-post col-md">
                                    <div class="post-thumb">
                                        <a href="categories-post.html"><img src="img/post-img/home/l6.jpg" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="categories-post.html" class="post-category cat-phimanh">Phim ảnh</a>
                                        <div class="post-meta">
                                            <a href="MyNhanGOT.html" class="post-title">
                                                <h6>Vẻ đẹp quyến rũ của mỹ nhân 'Game of Thrones'</h6>
                                            </a>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                                    03/05/2019</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- Single Featured Post -->
                                <div class="single-latest-post col-md">
                                    <div class="post-thumb">
                                        <a href="single-post.html"><img src="img/post-img/home/l7.jpg" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="categories-post.html" class="post-category cat-doanhnhan">Doanh nhân</a>
                                        <div class="post-meta">
                                            <a href="single-post.html" class="post-title">
                                                <h6>Warren Buffett: 'Tôi thật ngốc khi không mua cổ phiếu Amazon sớm'</h6>
                                            </a>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                                    03/05/2019</span></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-latest-post col-md">
                                    <div class="post-thumb">
                                        <a href="single-post.html"><img src="img/post-img/home/l8.jpg" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="categories-post.html" class="post-category cat-thegioi">Thế giới</a>
                                        <div class="post-meta">
                                            <a href="single-post.html" class="post-title">
                                                <h6>Chiến dịch thu dọn rác thải và thi thể trên đường lên đỉnh Everest</h6>
                                            </a>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                                    03/05/2019</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="single-latest-post col-md">
                                    <div class="post-thumb">
                                        <a href="single-post.html"><img src="img/post-img/home/l9.jpg" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="categories-post.html" class="post-category cat-batdongsan">Bất động sản</a>
                                        <div class="post-meta">
                                            <a href="single-post.html" class="post-title">
                                                <h6>Có gì tại tổ ấm 8,5 triệu USD của Justin Bieber</h6>
                                            </a>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                                    03/05/2019</span></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-latest-post col-md">
                                    <div class="post-thumb">
                                        <a href="single-post.html"><img src="img/post-img/home/l10.jpg" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="categories-post.html" class="post-category cat-kinhdoanh">Kinh doanh</a>
                                        <div class="post-meta">
                                            <a href="single-post.html" class="post-title">
                                                <h6>Giá xăng đang ‘cõng’ bao nhiêu thuế phí?</h6>
                                            </a>
                                            <!-- Post Like & Post Comment -->
                                            <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                                    03/05/2019</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <!--Most Viewd Block-->
                        <div class="section-heading">
                            <h6>Xem nhiều nhất</h6>
                        </div>
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="single-post.html"><img src="img/post-img/home/m1.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="categories-post.html" class="post-category cat-dothi">Đô thị</a>
                                <div class="post-meta">
                                    <a href="single-post.html" class="post-title">
                                        <h6>Tiếp tục lỗi hẹn, đường sắt Cát Linh - Hà Đông vướng gì?</h6>
                                    </a>
                                    <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                            03/05/2019</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="single-post.html"><img src="img/post-img/home/m2.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="categories-post.html" class="post-category cat-thoisu">Thời sự</a>
                                <div class="post-meta">
                                    <a href="single-post.html" class="post-title">
                                        <h6>Lướt trên 'cánh đồng điện' lớn nhất Việt Nam</h6>
                                    </a>
                                    <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                            03/05/2019</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="single-post.html"><img src="img/post-img/home/m3.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="categories-post.html" class="post-category cat-chinhtri">Chính trị</a>
                                <div class="post-meta">
                                    <a href="single-post.html" class="post-title">
                                        <h6>Xem xét kỷ luật nguyên Phó thủ tướng Vũ Văn Ninh</h6>
                                    </a>
                                    <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                            03/05/2019</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="single-post.html"><img src="img/post-img/home/m4.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="categories-post.html" class="post-category cat-giaothong">Giao thông</a>
                                <div class="post-meta">
                                    <a href="single-post.html" class="post-title">
                                        <h6>30 lính bộ binh gặp nạn khi xe tải quân sự bị lật</h6>
                                    </a>
                                    <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                            03/05/2019</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Featured Post -->
                        
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="single-post.html"><img src="img/post-img/home/m5.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="categories-post.html" class="post-category cat-thegioi">Thế giới</a>
                                <div class="post-meta">
                                    <a href="single-post.html" class="post-title">
                                        <h6>'Ông Obama thất vọng, trách bà Hillary vì ông Trump đắc cử'</h6>
                                    </a>
                                    <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                            03/05/2019</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="single-post.html"><img src="img/post-img/home/m6.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="categories-post.html" class="post-category cat-phimanh">Phim ảnh</a>
                                <div class="post-meta">
                                    <a href="single-post.html" class="post-title">
                                        <h6>Vẻ đẹp quyến rũ của mỹ nhân 'Game of Thrones'</h6>
                                    </a>
                                    <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                            03/05/2019</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="single-post.html"><img src="img/post-img/home/m7.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="categories-post.html" class="post-category cat-doanhnhan">Doanh nhanh</a>
                                <div class="post-meta">
                                    <a href="single-post.html" class="post-title">
                                        <h6>Warren Buffett: 'Tôi thật ngốc khi không mua cổ phiếu Amazon sớm'</h6>
                                    </a>
                                    <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                            03/05/2019</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="single-post.html"><img src="img/post-img/home/m8.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="categories-post.html" class="post-category cat-thegioi">Thế giới</a>
                                <div class="post-meta">
                                    <a href="single-post.html" class="post-title">
                                        <h6>Chiến dịch thu dọn rác thải và thi thể trên đường lên đỉnh Everest</h6>
                                    </a>
                                    <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                            03/05/2019</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="single-post.html"><img src="img/post-img/home/m9.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="categories-post.html" class="post-category cat-batdongsan">Bất động sản</a>
                                <div class="post-meta">
                                    <a href="single-post.html" class="post-title">
                                        <h6>Có gì tại tổ ấm 8,5 triệu USD của Justin Bieber</h6>
                                    </a>
                                    <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                            03/05/2019</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="single-post.html"><img src="img/post-img/home/m10.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="categories-post.html" class="post-category cat-kinhdoanh">Kinh doanh</a>
                                <div class="post-meta">
                                    <a href="single-post.html" class="post-title">
                                        <h6>Giá xăng đang ‘cõng’ bao nhiêu thuế phí?</h6>
                                    </a>
                                    <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12
                                            03/05/2019</span></p>
                                </div>
                            </div>
                        </div>

                        <!--Info Block-->
                        <div class="section-padding-80-50">
                            <div class="section-heading">
                                <h6>Tags nổi bật</h6>
                            </div>
                        </div>

                        <div class="newsletter-widget">
                            <h4>Đăng kí Premium</h4>
                            <p>Để được hưởng những ưu đãi đặc biệt từ TNTnews!!!</p>
                            <form action="#" method="post">
                                <button type="submit" class="btn w-100">Đăng ký</button>
                            </form>
                        </div>
                    </div>

                    <!-- Newsletter Widget -->
                </div>
            </div>
        </div>
        <!-- ##### Featured Post Area End ##### -->


        <div class="footer-divider"></div>
        <!-- ##### Video Post Area Start ##### -->
        <div class="top-category-post-area bg-img bg-overlay" style="background-image: url(img/bg-img/bg1.jpg);">
            <div class="container">
                <div class="top-category-post-heading d-flex justify-content-between align-items-center">
                    <div class="top-cat-post-title">Top 10 chuyên mục</div>
                    <div class="top-cat-slider-control">
                        <button type="button" class="top-cat-slider-button" id="top-cat-slider-button-prev"><i
                                class="fa fa-angle-left"></i></button>
                        <button type="button" class="top-cat-slider-button" id="top-cat-slider-button-next"><i
                                class="fa fa-angle-right"></i></button>
                    </div>
                </div>
                <div class="owl-carousel owl-theme" id="top-category-posts-slider">
                    <div class="single-top-category-post ">
                        <a href="categories-post.html" class="post-category cat-dothi">Đô thị</a>
                        <a href="single-post.html"><img src="img/post-img/home/l1.jpg"></a>
                        <div class="top-cat-post-title"><a href="single-post.html">Tiếp tục lỗi hẹn, đường sắt Cát Linh - Hà Đông vướng gì?</a></div>
                        <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12 03/05/2019</span></p>
                    </div>
                    <div class="single-top-category-post ">
                        <a href="categories-post.html" class="post-category cat-thoisu">Thời sự</a>
                        <a href="single-post.html"><img src="img/post-img/home/l2.jpg"></a>
                        <div class="top-cat-post-title"><a href="single-post.html">Lướt trên 'cánh đồng điện' lớn nhất Việt Nam</a></div>
                        <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12 03/05/2019</span></p>
                    </div>
                    <div class="single-top-category-post ">
                        <a href="categories-post.html" class="post-category cat-chinhtri">Chính trị</a>
                        <a href="single-post.html"><img src="img/post-img/home/l3.jpg"></a>
                        <div class="top-cat-post-title"><a href="single-post.html">Xem xét kỷ luật nguyên Phó thủ tướng Vũ Văn Ninh</a></div>
                        <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12 03/05/2019</span></p>
                    </div>
                    <div class="single-top-category-post ">
                        <a href="categories-post.html" class="post-category cat-giaothong">Giao thông</a>
                        <a href="single-post.html"><img src="img/post-img/home/l4.jpg"></a>
                        <div class="top-cat-post-title"><a href="single-post.html">30 lính bộ binh gặp nạn khi xe tải quân sự bị lật</a></div>
                        <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12 03/05/2019</span></p>
                    </div>
                    <div class="single-top-category-post ">
                        <a href="categories-post.html" class="post-category cat-thegioi">Thế giới</a>
                        <a href="single-post.html"><img src="img/post-img/home/l5.jpg"></a>
                        <div class="top-cat-post-title"><a href="single-post.html">'Ông Obama thất vọng, trách bà Hillary vì ông Trump đắc cử'</a></div>
                        <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12 03/05/2019</span></p>
                    </div>
                    <div class="single-top-category-post ">
                        <a href="categories-post.html" class="post-category cat-doanhnhan">Doanh nhân</a>
                        <a href="single-post.html"><img src="img/post-img/home/l7.jpg"></a>
                        <div class="top-cat-post-title"><a href="single-post.html">Warren Buffett: 'Tôi thật ngốc khi không mua cổ phiếu Amazon sớm'</a></div>
                        <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12 03/05/2019</span></p>
                    </div>
                    <div class="single-top-category-post ">
                        <a href="categories-post.html" class="post-category cat-thegioi">Thế giới</a>
                        <a href="single-post.html"><img src="img/post-img/home/l8.jpg"></a>
                        <div class="top-cat-post-title"><a href="single-post.html">Chiến dịch thu dọn rác thải và thi thể trên đường lên đỉnh Everest</a></div>
                        <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12 03/05/2019</span></p>
                    </div>
                    <div class="single-top-category-post ">
                        <a href="categories-post.html" class="post-category cat-batdongsan">Bất động sản</a>
                        <a href="single-post.html"><img src="img/post-img/home/l9.jpg"></a>
                        <div class="top-cat-post-title"><a href="single-post.html">Có gì tại tổ ấm 8,5 triệu USD của Justin Bieber</a></div>
                        <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12 03/05/2019</span></p>
                    </div>
                    <div class="single-top-category-post ">
                        <a href="categories-post.html" class="post-category cat-kinhdoanh">Kinh doanh</a>
                        <a href="single-post.html"><img src="img/post-img/home/l6.jpg"></a>
                        <div class="top-cat-post-title"><a href="single-post.html">Giá xăng đang ‘cõng’ bao nhiêu thuế phí?</a></div>
                        <p class="post-date"><span><i class="fa fa-clock-o"></i></span><span>19:12 03/05/2019</span></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Video Post Area End ##### -->