{{#each this.PostsInfo}}
<div class="card shadow mb-4 border-left-success">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        {{{headerOfType post_status editor_name}}}
        <div>
            <a href="" class="btn btn-secondary" title="Xem trước">
                <span class="icon text-white">
                    <i class="fas fa-eye"></i>
                </span>
            </a>
            <a href="#" class="btn btn-primary" title="Chỉnh sửa">
                <span class="icon text-white">
                    <i class="fas fa-pen"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="card-body d-flex align-items-center justify-content-between">
        <div>
            <span class="badge badge-pill badge-primary">Kinh doanh</span><br>
            <a class="text-primary h3" href="#">Việt nam vô địch Woldcup</a>
            <p class="card-text font-weight-light">30 February 2019</p>
            <p class="card-text">However venture pursuit he am mr cordial. Forming musical am
                hearing studied be luckily. But in for determine what would see...</p>
        </div>
        <div>
            <img src="../img/bg-img/12.jpg" style="border-radius:10px;width:128px;height:128px;object-fit:cover">
        </div>
    </div>
    <div class="card-footer d-flex align-items-center justify-content-between">
        {{{footerOfType post_status (formatDate post_time) post_denyreason}}}
    </div>
</div>
{{/each}}